[Unit]
Description=Cloudflare backup utility (daily)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/cloudflare-backup/config.conf
ExecStart=/usr/local/bin/go run ./utility/cloudflare-backup --timeout=60s
User=publicip

[Install]
WantedBy=multi-user.target
