[Unit]
Description=Cloudflare backup utility (daily)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=DBTOOL_CONFIG_FILE=/etc/cli-things/config.ini
ExecStart=/opt/cli-things/bin/cloudflare-backup --timeout=60s

[Install]
WantedBy=multi-user.target
