[Unit]
Description=Schedule public IP sync (CLI-things publicip)

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true
Unit=publicip.service

[Install]
WantedBy=timers.target
